<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
                  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
                  <link rel="stylesheet" href="/css/account.css">
                  <script src="/scripts/account.js"></script>
                  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
                  <title>DoAquarium: Account</title>
    <title>Account</title>
</head>
<body>
    <div id="wrapper">
            <div id = "doAquariumText">
                    do Aquarium
                </div>
        <div id="options">
            <div id="play">
                playSudoku
            </div>
            <div id="puzzleList">
                puzzleList
            </div>
            <div id="deleteAccount">
                deleteAccount :(
            </div>
        </div>
    </div>
</body>
</html>