<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/doAquarium.css">
    <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>DoAquarium</title>
</head>
<body>
    <div id = "wrapper">
        <div id = "doAquariumText">
            do Aquarium
        </div>
        <div id = "menu">
            <a href="/explore">
                <div id = "explore">explore!</div>
            </a>
            <a href="/login">
                <div id = "login">login</div>
            </a>
        </div>

    </div>
    <script src="/scripts/doAquarium.js"></script>
</body>
</html>