#doAquariumText{
    color: rgb(221,76,57);
    font-size: 3em;
    margin-top: 30%;
    font-family: 'Slabo 27px', serif;
    text-align: right;
    margin-right: 10px;
}

#wrapper{
    /* margin: auto; */
    /* position: fixed; */
    border: 2px solid;
    border-color: rgb(9, 35, 148);
    border-radius: 20px;
    background-color: white;
}

#menu{
    font-family: 'Slabo 27px', serif;
    font-size: 3em;
    margin-left: 10px;
}

a{
    text-decoration: none;
}
#explore{
    display: inline;
    color: rgb(69,123,222);
    margin: auto;
}

#login{
    display: inline-block;
    color: rgb(117,201,157);
    margin: auto;
}

#login:hover{
    color: rgb(30,77,123);
}

#explore:hover{
    color: rgb(30,77,123);
}